@page "/editCPS/{ID}"
@inject ICPSManager cpsManager  
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager

    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="Name" class="control-label">Status</label>
                    <input for="Name" class="form-control" @bind-value="@cpsEntity.Status" />
                    <label for="Name" class="control-label">Total</label>
                    <input for="Name" class="form-control" @bind-value="@cpsEntity.Total" />

                    <input type="hidden"  @bind-value="@cpsEntity.ID" />
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary" @onclick="() => UpdateCPS()">Save</button>
                    <button type="button" class="btn btn-danger" @onclick="() => cancel()">Cancel</button>
                </div>
            </form>
        </div>
    </div>

@code  {

    [Parameter]
    public string ID { get; set; }

    CPS cpsEntity = new CPS();

    protected override async Task OnInitializedAsync()
    {
       cpsEntity = await cpsManager.GetById(Convert.ToInt32(ID));
    }

    protected async Task UpdateCPS()
    {
        await cpsManager.Update(cpsEntity);
        navigationManager.NavigateTo("/cpslist");
    }

    void cancel()
    {
        navigationManager.NavigateTo("/cpslist");
    }
}
